<!DOCTYPE html>
<html>
    <header>
        <title>Items</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </header>

    <body>
        <p>Update Item Form</p>
        <form action="/items/<%= item._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <input type="text" name="item[name]" value="<%= item.name %>">
            </div>
            
            <div class="form-group">
                <input type="text" name="item[image]" value="<%= item.image %>">
            </div>
           
            <div class="form-group">
                <input type="number" name="item[price]" min="1" value="<%= item.price %>">
            </div>
            
            <button class="btn btn-secondary">Update item</button>
        </form>
    </body>
</html>